/* main css */
body {
  background-color: #f5faff;
}

#layout {
  display: flex;
  width: 100%;
  overflow: hidden;
}

#main {
  background-color: #f5faff;
  height: 100vh;
  flex-grow: 1;
  overflow-y: auto;
}

/* dashboard */
.card {
  width: 275px;
  border-radius: 10px;
  /* margin: 10; */
}

.card-body {
  background-color: aqua;
  height: 100px;
  text-align: center;
  /* text-align: justify; */
  /* border-radius: 10px; */
  /* padding-top: 10px; */
}

#dashboard {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.content {
  background-color: #c7e9ff;
  border-radius: 10px;
  /* border: 1px solid; */
  padding: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}
